  <div style="margin-left:25%;padding:1px 16px 10px;">
    <div class="container1">
        <form action="/action_page.php">
          <div class="row">
            <div class="col-25">
              <label for="q1">Does your teachers encourage you to perform better?</label>
            </div>
            <div class="col-75">
              <input type="text" id="q1" name="firstquestion" placeholder="Your answer">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="q2">Does your teachers appreciate the times when you work hard towards scoring well in a test or performing well in extracurricular activities?</label>
            </div>
            <div class="col-75">
              <input type="text" id="q2" name="secondquestion" placeholder="Your answer">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="q3">Please share your agreement with this statement: “My teachers have fair rules for the class and are extremely impartial.”</label>
            </div>
            <div class="col-75">
              <select id="q3" name="thirdquestion">
                <option value="a1">Agree</option>
                <option value="a2">Neutral</option>
                <option value="a3">Disagree</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="opinion">Top 5 things that your teachers can improve </label>
            </div>
            <div class="col-75">
              <textarea id="opinion" name="opinion" placeholder="Write something.." style="height:100px"></textarea>
            </div>
          </div>
          <div class="row">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>

  </div>



