<div style="margin-left:25%;padding:1px 16px;">
  <div class="container1">
      <form action="/action_page.php">
        <div class="row">
          <div class="col-25">
            <label for="q1">Do you consume fast food?</label>
          </div>
          <div class="col-75">
            <select id="q1" name="firstquestion">
              <option value="a1">Yes</option>
              <option value="a2">No</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="q2">Do your family members also consume fast food?</label>
          </div>
          <div class="col-75">
            <select id="q1" name="firstquestion">
              <option value="a1">Yes</option>
              <option value="a2">No</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="q3">How often do you consume fast food on a weekly basis?</label>
          </div>
          <div class="col-75">
            <select id="q3" name="thirdquestion">
              <option value="a1">1-2 times</option>
              <option value="a2">3-4 times</option>
              <option value="a3">5 times or more</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="q4">Please select the fast-food restaurants you visit frequently</label>
          </div>
          <div class="col-75">
            <select id="q4" name="fourthquestion">
              <option value="a1">KFC</option>
              <option value="a2">Pizza Hut</option>
              <option value="a3">Subway</option>
            </select>
          </div>
        </div>


        <div class="row">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>

</div>

